<%- include ../includehead/doctype %>
<head>
    <%- include ../includehead/head %>


</head>
<body>



<div class="container-fluid">

    <app-root></app-root>

</div>






<%- include ../includehead/bottomscript.ejs %>

<script type="text/javascript" src="<%= staticPath %>/js/formData.bundle.js"></script>

</body>
</html>

