

<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> <!-- 优先使用 IE 最新版本和 Chrome -->
<meta name="renderer" content="webkit"> <!--360浏览器就会在读取到这个标签后，立即切换对应的内核。并将这个行为应用于这个二级域名下所有网址。-->

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="<%= staticPath %>/bootstrap45/css/bootstrap.min.css" >


<!-- Custom meta tags -->
<meta name="description" content="">
<meta name="author" content="JinWYP">


<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<link type="image/x-icon" rel="shortcut icon" href="<%= staticPath %>/images/favicon.ico" />
<!--<link type="image/png" rel="icon" sizes="32x32" href="<%= staticPath %>/images/favicon-32x32.png">-->

<!-- CSS only -->



<title><%= page.title %> </title>


