<!doctype html>
<html lang="zh-cmn-Hans">
<head>
    <%- include ./header.ejs %>


</head>
<body>


<div class="container-fluid mainbox">

    <div class="starter-template">
        <h1>首页</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    </div>

</div>











<%- include ./bottomscript.ejs %>


</body>
</html>

